$colorfondo1: rgb(218, 156, 225);
$colorfuente1: rgb(46, 2, 50);
$colorfuente2: rgb(108, 60, 156);
$colorfuente3: rgb(109, 28, 125);
$font1: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font2:'Montserrat', sans-serif;
$colorH: honeydew;

@import url('https://fonts.googleapis.com/css2?family=Mansalva&family=Montserrat:wght@500&family=Oswald:wght@200&family=Patrick+Hand+SC&family=Sriracha&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;


}
@mixin size ($height, $width) {
    height: $height;
    width: $width;
}
@mixin margins ($marginL, $marginr) {
    margin-left: $marginL;
    margin-right: $marginr;
}

title{
    background-color: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-color: #f0ae90;
    background-image: linear-gradient(#f0ae90, 80%, rgba(191, 63, 223, 0.39));
    font-family: $font1;
    position: relative;
}
/*cambiar color fondo body*/
header{
    width: 100%;
    background-color: $colorfondo1;
    font-family: 'Mansalva', cursive;
    font-size: 35px;
    color: $colorH;
    letter-spacing: 0.2em;
    padding-left: 1em;
    text-shadow: 1px 2px 3px rgba(117, 18, 209, 0.849);
        & a{
            text-decoration: none;
            color: $colorH;
            margin-top:2px;
            margin-left: 1em;
            text-align: left;
            font-size: 35px;
                &:hover{
                    color: $colorfuente2;
                }
    }
}
.nav-link{
    color: $colorfuente2;
    font-size: 20px;
        &:hover{
            color: $colorH;
        }
}
.navbar{
    background-color: $colorfondo1;
}
.dropdown-item{
    font-size: 20px;
        &:hover{
            color: rgb(206, 17, 133);
        }
}

a{
    color: rgb(0, 0, 0);
}
ul{
    border: 2px;
}

.menu ul li{
    width: 25%;
}    

li{
    font-size: 2rem;
}

ul ul li{
    font-size: 25px;
}
ul ul li a{
    color: rgba(189, 54, 207, 0.363);
}
ul li:hover ul{
    background-color: rgba(215, 167, 221, 0.416);
}

li a{
    text-decoration: none;
}
.row{
    padding: 0.8em;
}
/*REVISAR UL UL*/
main{
    width: 100%;
    background-image:url(./multimedia/sunset.jpg);
    background-size: cover;
}

h1{
    font-size: 15px;
    margin-bottom: 5px;
}
.segundot{
    font-family: $font1;
    font-variant: small-caps;
    color: $colorH;
    text-shadow: 1px 1px rgb(102, 0, 116);
    font-weight: bold;
    text-align: center;
    font-size: 45px;
    letter-spacing: 5px;
}
h2{
    font-family: 'Patrick Hand SC', cursive;
    font-variant: small-caps;
    color: rgb(121, 9, 136);
    display: inline;
    font-size: 3em;
    text-shadow: rgba(235, 231, 222, 0.658) 1px 1px ;
        & a{
            color: rgb(138, 13, 51);
        }
}
#call{
    color: azure;
    font-family: $font2;
    letter-spacing: 0.5px;
    text-align: right;
    background-color: rgba(233, 150, 122, 0.363);
    padding: 20px;
    border: 2px double rgb(237, 210, 164);
    border-radius: 1em;
    font-size: 18px;
        & a{
            text-decoration: underline wavy;
            color: $colorH;
            margin-top: 3px;
            &:hover{
                color:rgb(54, 4, 19)
            }
        }
}

.primeraDiv{
    @include size(100%, 450px)
}

.textoindex{
    font-family: 'Patrick Hand SC', cursive;
    text-align: center;
    color: $colorfuente1;
    font-size: 25px;
    padding: 10px;
        &:hover{
            font-size: 35px;
    }
}

marquee{
    background-color: rgba(255, 244, 184, 0.623);
        & a{
            @include size(30px, 100%);
            text-align: center;
            font-size: 25px;
            color: rgb(172, 28, 160);
            font-family: $font1;
            text-decoration: none;
                &:hover{
                    color: $colorfondo1;
                }
        }
}    

.textosfotos{
    color: $colorH;
    text-shadow: 1px 1px 1px $colorfuente1;
    font-family: $font2;
    letter-spacing: 0.5px;
    text-align: center ;
    padding-top:15px;
    transition: font-size 0.5s;
        &:hover{
            font-weight: bold;
        }
}
.enlaceindex{
    text-decoration: underline dotted;
    color: $colorH;
        &:hover{
            color: $colorfondo1;
        }
}

.servicios{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: 'Patrick Hand SC', cursive;
    text-align: center;
    .servicios li{
        font-size: 30px;
        text-align: center;
        margin-left:70px;
    }
}
/** Redes **/ 

/**contacto**/
.main__contacto{
    text-align: center;
    font-family: $font2, cursive;
    color: purple;
    word-spacing: 6px;
    font-size: 25px;
}
input{
    font-family: $font1;
    color: $colorfuente3;
}
/**html encuentro**/
iframe{
    position:center;
}
/**Sobre mai**/
.sobre{
    font-family: $font1;
    color: $colorfuente3;
    padding: 0.5em;
    margin-top: 2em;
    font-size: 1.3em;
    @include margins(2%, 5%);
}
.imgSobre{   
    border-radius: 5px;
    padding: 10px;
    margin-top: 8em;
        &:hover{
            border: 2px solid rgba(187, 124, 212, 0.714);
            @include size(180, 350px);
            border-radius: 5px;
        }
}    

.row-mai{
    background-color: #f1ddcc;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23f3c4f0' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");

}
.descripcion{
    padding-top: 5%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
        .txtdescipcion{
            color: $colorfuente3;
            margin-bottom: 3em;
            font-size: 1.3em;
            padding: 1%;
            border-radius: 1em;
            background-color: rgba(254, 246, 255, 0.452);
            box-shadow: hsl(283, 72%, 79%) 0.375rem 0.375rem 0.625rem ;
    }
}
.img-fluid{
    border-radius: 1em;
    
}

footer{
    background-color: $colorfondo1;
    text-align: center;
    font-size: 20px;
    font-family: $font2;
    width: 100%;
    padding: 10px;
    margin-bottom: 0px;
        & p{
            text-align: center;
            font-size: 20px;
            font-family: $font2;
            color: rgb(83, 5, 99);
        }  
        .redes a{
            font-size: 1.5em;
            color: $colorfuente1;
            letter-spacing: 40px;
                &:hover{
                color: $colorH;
                }
        }
} 
        
.subir{
    color: $colorH;
    position: fixed;
    bottom: 1em;
    right: 2em;
    font-size: 2em;
        &:hover{
            color: rgb(189, 60, 240);
        }
}
#consulta{
    text-align: center;
    padding-top: 1em;
}
.btnc{
    padding: 0.2em;
    border-radius: 0.2em;
    border-color: antiquewhite;
    font-size: 0.8em;
}
@media only screen and (min-width:480px){
    .textoindex{
        font-size: 25px;
    }

}
@media only screen and (min-width:768px){
    .header{
        font-size: 45px;
    }
    .header a{
        font-size: 45px;
    }

    .textoindex{
        font-size: 30px;
    }
    .textosfotos{
        font-size: 21px;
    }
}